.cardImg{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStyles{
    font-size:0.9vw;
}

@media (max-width:900px){
    .carCard{
        display: flex;
        flex-direction: column;
    }
    .cardStyles{
        font-size: 1.6vw;
    }
    .cardImg{
        width: 70%;
    }
}
