.cont{
    position: relative;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}

.imgCont{
    position: absolute;

}

.audi{
    z-index: 1000;
    position: absolute;
    top: 0;
    left: -100px;
}

.vector{
    position: absolute;
    top: -90px;
    left: -100px;
}

.paragraphs{
    position: absolute;
    top: -45px;
    right: -50px;
}

.text{
    font-size: 40px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 45px;
}

.textImgCont{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.textCont{
    display: flex;
    flex-direction: column;
}