.cont {
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

.imgCont {
    position: relative;
    display: flex;
    justify-content: center; 
}

.audi {
    z-index: 1000;
    max-width: 100%; 
    height: auto; 
    margin: 0 auto; 
}

.vector {
    position: absolute;
    max-width: 80%;
    height: auto;
    top: -80px;
    left: -50px;
}

.paragraphs {
    margin-top: 20px;
    padding: 0 20px; 
}

.text {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 45px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.features p {
    flex: 1 1 45%;
    display: flex;
    align-items: center;
    margin: 10px 0; 
}

@media (max-width: 1000px) {
    .audi {
        max-width: 90%;
        margin-top: 30px;
    }

    .vector {
        max-width: 70%; 
        top: -60px; 
    }
    .text {
        font-size: 1.5rem; 
    }
}