.cont {
    position: relative;
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
}

.imgCont {
    position: relative;
    flex: 1 1 50%;
}

.audi {
    z-index: 1000;
    position: relative; 
    max-width: 100%; 
    margin-top: 50px;
}

.vector {
    position: absolute; 
    max-width: 100%; 
    left: 0;
    top: 0;
    z-index: -1;
}

.paragraphs {
    flex: 1 1 50%;
    padding: 20px; 
}

.text {
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 45px;
}


.textImgCont {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.textCont {
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .cont{
        flex-direction: column;
    }

    .audi{
        margin-top: 80px;
    }
    .vector {
        top: -150px;
        left: 0; 
    }

    .paragraphs {
        padding: 5px;
    }
    .textImgCont {
        margin-bottom: 5px;
        width: 100%; 
    }
    .textCont {
        display: flex;
        flex-direction: row;
    }
    .rowStyle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}