.mainLayout{
    margin-top: 50px;
    margin-left: 100px;
}

.formLayout{
    background-color: rgb(158, 177, 198);
    width: 32%;
}


.imgCont{
    position: relative;
}

.img{
    position: absolute;
    top: -320px;
    right:120px;
}

.img img{
    width: 400px;
}

@media (max-width:1260px) {
    .mainLayout{
        margin-left: 30px;
    }

    .img{
        top: -230px;
        right:120px;
    }

    .img img{
        width: 300px;
    }
}

@media (max-width:890px) {
    .imgCont{
        display: none;
    }
    .mainLayout{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .formLayout{
        width: 100%;
    }
}